.container {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edeef2;
}

.ScoreboardNav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
}
